

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Codystar';font-size: 22px;
  /*  font-family: 'Kumbh Sans', sans-serif;*/
    scroll-behavior: smooth;
  }
/* 
  html,body {
    margin:0;
    padding:0;
    overflow-x: hidden;
   
} */
  
  .nav {
    background: #000000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .nav__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }
  
  #nav__logo {
    background-color: #460346;
    background-image: linear-gradient(to top, #490049 0%,#FFFFFF 100% );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .nav__menu {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .nav__item {
    height: 80px;
  }
  
  .nav__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
  }
  
  .nav__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #833ab4;
    background: -webkit-linear-gradient(to right,#3494e6,#EC6EAD,#3494e6);
    background: linear-gradient(to right,#3494e6,#EC6EAD,#3494e6);
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .nav__links:hover {
    color: #e248c0;
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 960px) {
  
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    .nav__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    .nav__menu.active {
      background: #000000;
      top: 100%;
      width: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 60vh;
      font-size: 1.6rem;
    }

    #nav__logo {
        padding-left: 25px;
      }
    
    .nav__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
      }
    
    .nav__item {
        width: 100%;
      }

    .nav__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
      }
    
    .nav__btn {
        padding-bottom: 2rem;
      }

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
      }
    
      #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
      }
      
      .nav__toggle .bar {
        display: block;
        cursor: pointer;
      }
    
      #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
      }
    
      #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
    
      #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }

    /* Technically Blonde Section */

    .section{
        background: #000000;
        padding: 0px 0;
    }

    .section__container{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        height: 90%;
        text-align: center;
        padding: 0px;
        font-family: fantasy;
      
    }
    
    .main__btn{
        position:absolute;
        margin-top: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 10px 10px;
        height: 10%;
        width: 10%;
        border: none;
        outline: none;
        border-radius: 4px;
        background: #833ab4;
        background: -webkit-linear-gradient(to right,#cc72d8,#cc72d8,#cc72d8);
        background: linear-gradient(to right,#cc72d8,#cc72d8,#cc72d8);
        color: #fff;
        transition: all 0.3s ease;
    
    }
    .highlight{
        border-bottom: 4px solid rgb(132, 0, 255);
    }
    @media screen and (max-width: 768px) {
        .section__heading {
          font-size: 60px;
        }
      
        .section__description {
          font-size: 40px;
        }
      }

      /* About Us */
      .about{
          background-color: #d4b0d2;
          padding: 0;
        
      }

      .about__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        margin: 0 auto;   
        height: 90%;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0 50px;

       }

       .about__content{
           color: #000000;
           width: 100%;
       }

       .about__content h1{
           font-size: 50px;
           font-family:Verdana, Geneva, Tahoma, sans-serif;
           color:#7DDCFA;
           margin-top: -900px;
           text-align: center;
  
       }

       .about__content p{
           padding-top: 0.5cm;
           font-size: 25px;
           color: #fff;
           text-align: left;
           text-indent: 75px;
           margin-left: 2cm ;
           margin-right:2cm;
           font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
       }

       img.test {
        max-width: 100%;
        height: auto;
       }

       img.pinkbgd{
        max-width: 100%;
        height: auto;
       }

       img.clubCollage{
        max-width: 50%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
      
        }
       